<%@ page pageEncoding="UTF-8" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>
<footer class="text-center text-muted border-top"><fmt:message key="(c) Car Rental"/>
    <div class="container">
        <p class="float-right">
            <a href="#"><fmt:message key="Back to top"/></a>
        </p>
    </div>
</footer>